<!DOCTYPE html>
<html>
  <head>
    <title>UC Boulder Map</title>
    <style>
      #map {
        height: 1000px;
        width: 100%;
      }
      #inputs {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <h2>Map ver 1.1a</h2>
    <div id="inputs">
      <input id="start" type="text" placeholder="Search start location" />
      <input id="end" type="text" placeholder="Search end location" />
      <button onclick="calculateRoute()">Route Search</button>
      <button onclick="clearTempMarkers()">Clear Markers</button>
    </div>
    <div id="map"></div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtcNYhjR1p0C6GyIcJo8hgfjH8dbBFECo&libraries=places&callback=initMap"
      async
      defer
    ></script>
    <script src="../../app/maps.js"></script>
  </body>
</html>
