<style>
  .terminal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1e1e1e;
    color: white;
    font-family: monospace;
  }
  .input-box {
    border: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 300px;
    outline: none;
  }
  .blinking-cursor {
    display: inline-block;
    width: 10px;
    height: 20px;
    background-color: dimgray;
    animation: blink 1s infinite;
  }
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
</style>

<div class="terminal-container">
  <span>Enter Command:</span>
  <form action="/generate" method="POST">
  <input name="prompt" class="input-box" type="text" required autofocus>
  <button type="submit">Submit</button>
</form>


  {{#if response}}
    <pre>Response: {{response}}</pre>
  {{/if}}
</div>

{{> footer}}
