<!-- Load Font -->
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet" />

<header>
  <nav class="navbar navbar-expand-sm navbar-light border-bottom" style="background-color: #fff;">
    <div class="container-fluid">
      <button
        class="navbar-toggler ms-auto"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar-collapse"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="background-color: #bfa133;"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav" style="flex-grow: 1; display: flex; justify-content: flex-start; width: 100%; padding-left: 0; margin-left: 0;">
          <li class="nav-item">
            <a class="nav-link" href="/map" style="font-size: 1.1rem;">Maps</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rmp" style="font-size: 1.1rem;">Rate My Professor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/interests" style="font-size: 1.1rem;">Hobbies and Interests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home" style="font-size: 1.1rem;">Home</a>
          </li>
        </ul>
        <div class="d-flex align-items-center">
          <a class="nav-link" href="/logout" style="font-size: 1.1rem;">Logout</a>
          <img src="https://i.pinimg.com/736x/93/bc/29/93bc293345f0186d94d410427f9aed2f.jpg" alt="Chip Button" style="height: 60px; margin-left: 10px;" />
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- Font & Hover Style -->
<style>
  .nav-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #000 !important;
    text-decoration: none !important;
    transition: color 0.3s ease;
  }

  .nav-link:hover {
    color: #bfa133 !important;
    text-decoration: none !important;
  }
</style>
